.columns-block {
  & > .column {
    padding: 0px;
    & > .column {
      padding: 4px !important;
    }
  }
  .block-column {
    padding: 0.3em;

    // .column-header {
    //   width: 100%;
    //   text-align: center;
    //   border-bottom: 6px solid #eaeaea;
    //   margin: 0.3em auto 0.8em auto;
    // }

    .block {
      .block-add-button {
        display: none;
      }
    }
  }

  [data-rbd-draggable-context-id] {
    margin-bottom: 0.3em;
  }
}

.block-toolbar {
  background-color: #d9edf4;
  padding: 3px;
  // margin-top: -10px;
  display: inline-block;
  margin-bottom: 8px;
  position: absolute;
  margin-top: -36px;
  z-index: 10;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  right: 0px;

  .drag.handle.wrapper-column-block {
    position: initial;
    left: initial;
    margin-left: initial !important;
  }
}

.drag-drop-list-widget {
  .columns-area {
    padding: 1em 0em;

    [data-rbd-draggable-context-id] {
      margin-bottom: 0.3em;
    }

    .column-area {
      display: flex;

      .label {
        flex-grow: 2;
        padding-left: 1em;
      }

      button {
        flex-grow: 0;
      }
    }
  }
}
