.columns-block {
  .block-column {
    padding: 0.3em;
  }
}

.drag-drop-list-widget {
  .columns-area {
    padding: 1em 0em;

    [data-rbd-draggable-context-id] {
      margin-bottom: 0.3em;
    }

    .column-area {
      display: flex;

      .label {
        flex-grow: 2;
        padding-left: 1em;
      }

      button {
        flex-grow: 0;
      }
    }
  }
}
